*{
    font-family: sans-serif;

}
body{
  font-family: Arial, Helvetica, sans-serif;
    background-image: url(AdobeStock_962673796_Preview\ -\ Shortcut.lnk);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
    
}
h1{

font-family: "Space Mono", monospace;
  justify-content: left;
align-items: normal;
float: none;
font-variant: normal;
font-size: 30px;
padding-inline-end: 5%;
margin-top: 1%;
padding-top: 7%;
text-align: left;
}
p{
font-size: 15px;
padding-inline-end: 5%;
margin-top: 1%;
text-align: left;
}
.main-box{
    height: 600px;
    width: 600px;
    padding-top: 2%;
    
    
}
.main-menu{
   background-color: white;
   color: #54473f;
    height: 650px;
    width: 600px;
    padding-left: 2%;
    justify-content: space-between;
    margin-left: 90%;
    margin-right: 20%;
    
    
}
input[type=text]{
    border: none;
    border-bottom: 2px solid #54473f;
    width: 70%;
    box-sizing: border-box;
}
input[type=year]{
    border: 2px solid #54473f;
    width: 30%;
    box-sizing: border-box;
}
select[class=month]{
   width: 50%; 
   border: 2px solid #54473f;
}
select[class=country]{ 
    border: none;
 }
 a{
    text-decoration: none;
 }
 button[class=contact]{
    border: 2px solid #54473f;
    width: 3%;
    height: 2%;
    padding: 1px 2px;
    margin-left: 5px;
    box-sizing: border-box;
 }
 button[class=account]{
    
    border-radius: 20px;
    background-color: blue;
    color: white;
    width: 25%;
  padding: 8px 12px;
  margin: 8px 0px;
  margin-left: 5px;
  box-sizing: border-box;
  border: none;
  float: left;
  margin-left: 68%;

 }

 /*footer{
   
    color: #54473f;
    display: flex;
    justify-content: center;
   
 }
 address {
    text-align: center;
    padding: 0.3em;
  }